<h2 class="header-left">Campus Events</h2>
<div class="clearfix"></div>
<% if (infoMessage) { %>
<div class='alert alert-info' style='padding: 5px 10px; margin: 5px 0px'><%= infoMessage %></div>
<% } %>
<% if (errorMessage) { %>
<div class='alert alert-danger' style='padding: 5px 10px; margin: 5px 0px'><%= errorMessage %></div>
<% } %>

<!-- Nav tabs -->
<ul class="nav nav-pills event-tabs" role="tablist">
  <li class="active"><a href="#news-feed" id="feed" role="tab" data-toggle="tab">News Feed</a></li>
  <li><a href="#calendar" id="cal" role="tab" data-toggle="tab">Calendar</a></li>
    <% if (user && user.type == "admin") { %>
      <a href="#" onclick="newPost()" id="new-post-button" class="btn btn-primary header-right"><span class='fa fa-pencil-square-o'></span> New Post</a>
    <% } %>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="news-feed">
    <% if (user && user.type == "admin") { %>
      <div id="createForm" class="col-xs-12 hidden">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">New Post</h3>
          </div>

          <div class="panel-body">
            <form action="/createPost" method="post" role="form">
              <div class="form-group">
                <label class="control-label" for="titleInput">Title</label>
                <input class="form-control" id="titleInput" name="title" placeholder="Post title">
              </div>
              <div class="form-group">
                <label class="control-label" for="textInput">Post Body</label>
                <textarea class="form-control" id="textInput" name="text" placeholder="Type your post..." rows="3"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Create Post</button>
                <a href="#" onclick="cancelPost()" class="cancel-post">Cancel</a>
              </div>
            </form>
          </div>

        </div>
      </div>
    <% } %>

    <div id="news_feed" class="col-xs-12">
      <% for (var i = 0; i < posts.length; i++) { %>
        <div id="post-<%=posts[i].id%>" class="panel panel-default">
          <div class="panel-heading">
            <h3 id="title<%=posts[i].id%>" class="panel-title">
              <%=posts[i].title%>
            </h3>
          </div>

          <div id="text<%=posts[i].id%>" class="panel-body">
            <%=posts[i].text%>
          </div>

          <div class="panel-footer">
            <% var date = new Date(posts[i].created_at); %>
            Posted by <%=posts[i].author.name%> on <%=date.toDateString()%> at <%=date.toLocaleTimeString().slice(0, -3)%>.
            <% if (user && user.type == "admin") { %>
              <p><a href="#" onclick="editPost(<%=posts[i].id%>)">edit post</a> | 
              <a href="/deletePosts?ids=<%=posts[i].id%>">delete post</a></p>
            <% } %>
          </div>
        </div>
      <% } %>
    </div>

    <% if (user && user.type == "admin") { %>
      <div id="editForm" class="col-xs-12 hidden">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Edit Post</h3>
          </div>

          <div class="panel-body">
            <form action="/updatePost" method="post" role="form">
              <div class="form-group hidden">
                <label class="control-label" for="editId">Id</label>
                <input class="form-control" id="editId" name="id">
              </div>
              <div class="form-group">
                <label class="control-label" for="editTitleInput">Title</label>
                <input class="form-control" id="editTitleInput" name="title" placeholder="Post title">
              </div>
              <div class="form-group">
                <label class="control-label" for="editTextInput">Post Body</label>
                <textarea class="form-control" id="editTextInput" name="text" placeholder="Type your post..." rows="3"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Update Post</button>
                <a href="#" onclick="cancelEdit()" class="cancel-post">Cancel</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    <% } %>

    <script>
      $('#cal').on('click', function() {
          console.log("cal");
        $('#new-post-button').addClass("hidden");
      });

      $('#feed').on('click', function() {
          console.log("feed");
        $('#new-post-button').removeClass("hidden");
      });

      var newPost = function() {
        cancelEdit();
        $("#createForm").removeClass("hidden");
      };

      var cancelPost = function() {
        $("#createForm").addClass("hidden");
      };

      // fill form for edit
      var editPost = function(id) {
        $("#editId").val(id);
        $("#editTitleInput").val($("#title" + id).text().trim());
        $("#editTextInput").val($("#text" + id).text().trim());
        $("#editForm").removeClass("hidden");
        $("#createForm").addClass("hidden");
        var postId = "#post-" + id;
        $(postId).addClass("hidden");
      }

      // cancel edit
      var cancelEdit = function() {
        var id = $("#editId").val();
        $("#editId").val("");
        $("#editId").val("");
        $("#editTitleInput").val("");
        $("#editTextInput").val("");
        $("#editForm").addClass("hidden");
        var postId = "#post-" + id;
        $(postId).removeClass("hidden");
      }
    </script>
  </div>
  <div class="tab-pane fade" id="calendar">
    <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=4ptiahfvp1edtce8rhu4a96qqc%40group.calendar.google.com&amp;color=%232F6309&amp;ctz=America%2FNew_York" height="250px" width="100%" frameborder="0" scrolling="no"></iframe>
  </div>
</div>


