<% include navigation.ejs %>
<% if (user) { %>
<div id="container">
    <div id="page-trivia-question" class="page">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-xs-12">
                    <h3><%= question.question %></h3>
                </div>
            </div>
            <br>
            <div class="row text-center">
                <div class="col-xs-8 col-xs-offset-2">
                    <form role="form" id="questionForm">
                        <div class="form-group" id="options">
                            <div class="btn-group-vertical btn-block" data-toggle="buttons">
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="a"><%= question.a %>
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="b"><%= question.b %>
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="c"><%= question.c %>
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="d"><%= question.d %>
                                </label>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-block">Submit</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-6">
                    <a href="/trivia/<%= question.id - 1 %>" class="btn btn-primary btn-block">Previous</a>
                </div>
                <div class="col-xs-6">
                    <a href="/trivia/<%= question.id + 1 %>" class="btn btn-primary btn-block">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>
